@import 'tailwindcss';

@source '../../app/*/resources/views/**/*.latte';
@source '../../app/*/src/css/**/*.css';
@source '../../resources/views/**/*.latte';

@theme {
  --color-brand: #4f46e5;
  --color-brand-light: #818cf8;
  --color-brand-dark: #3730a3;
  --width-sidebar: 260px;
  --height-header: 56px;
}

@import './base.css';
@import './layout.css';
@import './components.css';
@import '../../app/landing/src/css/landing.css';
@import '../../app/notification/src/css/notification.css';
@import '../../app/user/src/css/auth.css';
@import '../../app/user/src/css/user.css';
@import '../../app/space/src/css/space.css';
@import '../../app/message/src/css/message.css';
@import '../../app/admin/src/css/admin.css';
